# Please edit this gitignore file to suit your needs. You may
# look at other .gitignore files in the provided examples for inspiration.

.DS_Store
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
client/dist
client/dist-ssr
client/*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables - Edit if necessary
.env
.env.*
!.env.example
!.env.test
!client/.env
